.envidat-font-overwrite {
  font-family: 'Raleway', sans-serif, sans-serif !important;

  [class*='display-'],
  [class*='text-'] {
    font-family: 'Raleway', sans-serif, sans-serif !important;
  }

  [class*='headerTitle'] {
    font-family: 'Baskervville', serif !important;
    font-weight: 400;
    opacity: 1;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
  }

  [class*='envidatTitle'] {
    font-family: 'Baskervville', serif !important;
  }
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 95% !important;
}

.envidatNavbar {
  position: sticky;
  top: 8px;
  z-index: 1000;
}

.envidatNavbar.small {
  top: 0px;
}

/*** General Card styles ***/

.card .subheading {
  /* font-family: 'Baskervville', serif; */
  font-weight: 400;
  /* color: #555; */
  opacity: 0.75;
  line-height: 1.25em;
}

.readableText {
  line-height: 1.2rem;
  /*
  color: rgba(0, 0, 0, 0.87) !important;
  */
}

.readableText img {
  max-width: 100%;
}

a {
  color: #00897b !important;
}

.accentLink a {
  color: #FFD740 !important;
}

.imagezoom  {
  img {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
    }
  }
}

.envidatSmallNavigation {
  position: fixed;
  top: auto;
  right: 10px;
  bottom: 10px;
}

.envidatToolbar > .v-toolbar__content {
  padding: 0px 8px !important;
}

.envidatIcon {
  height: 24px !important;
  width: 24px !important;
}

.envidatIcon.small {
  height: 20px !important;
  width: 20px !important;
}

.envidatTitle {
  letter-spacing: 0 !important;
}

.metadataInfoIcon,
.metadataInfoIcon .v-icon,
.metadataInfoIcon .v-image {
  opacity: 0.8;
}

.metadataTitleIcons {
  opacity: 0.5;
}


.envidatBadge {
  font-size: 0.8rem !important;
  &.bigNumber {
    font-size: 0.7rem !important;
  }
}


.envidatChip {
  height: 1.1rem !important;
  font-size: 0.65rem !important;
  margin: 1px 2px !important;
  /* opacity: 0.85 !important; */
}

.enviDatSnackbar > .v-snack__wrapper > .v-snack__content {
  height: 100%;
  padding: 12px;
}

.smallChip {
  height: 1.25rem !important;
  font-size: 0.55rem !important;
}

.smallChip > .v-chip__content > .v-chip__close > .v-icon {
  font-size: 15px !important;
}

.authorTag span,
.envidatChip span {
  cursor: pointer !important;
}

.authorTag span {
  font-size: 14px !important;
}

.chip__content span {
  cursor: pointer !important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.1s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  /* overflow: hidden; */
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.application .v-overlay.v-overlay--active {
  z-index: 1025 !important;
}
