verify-node-audit:
  stage: test
  image: node:lts
  environment: $CI_COMMIT_REF_NAME
  extends: .normal-rules
  needs:
    - job: modify-env
      artifacts: false
  script:
    # keep this in separate job to clearer identify if there is a problem, ONLY PRODUCTION NOT DEV
    - npm ci --prefer-offline --no-audit --no-fund --loglevel=error
    - npm audit --audit-level=high --omit=dev
  retry:
    max: 2

verify-node-owasp:
  stage: test
  image: owasp/dependency-check:latest
  environment: $CI_COMMIT_REF_NAME
  rules:
    - when: manual
  # for manual jobs add allow_failure so the whole pipeline won't show up as "blocked"
  allow_failure: true
  needs:
    - job: modify-env
      artifacts: false
  script:
    # dependency check against the National Vulnerability Database
    # https://dependency-check.github.io/DependencyCheck/
    # more about the cli commands https://dependency-check.github.io/DependencyCheck/dependency-check-cli/arguments.html
    - >
      sh /usr/dependency-check/bin/dependency-check.sh \
      --project "EnviDat-Frontend" \
      --scan "." \
      --out "reports" \
      --format "HTML" \
      --format "JSON" \
      --failOnCVSS 7 \
      --exclude "**/node_modules/**" \
      --enableExperimental \
      --enableRetired \
      --nvdApiKey "$NVD_API_KEY"
  artifacts:
    paths:
      - reports
  retry:
    max: 2
