include:
  - local: '.gitlab-ci-deployment.yml'
  - local: '.gitlab-ci-seo.yml'
  - local: '.gitlab-ci-scan.yml'
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml

default:
  tags:
    - frontend

stages:
  - config
  - test
  - build
  - deploy
  - manual-deploy

workflow:
  rules:
    # Allow pipeline when triggered from other pipelines (deployment-only-pipeline)
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
    # Allow pipeline when triggered from the gitlab ui to start a pipeline
    - if: '$CI_PIPELINE_SOURCE == "web"'
    # Allow Pipeline run when it's scheduled
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    # Allow pipeline for pushing to develop, staging, main branches
    - if: '$CI_COMMIT_REF_NAME =~ /^(main|staging|develop)$/'
      when: always

    # Block pipeline creation for all other cases (e.g. feature branches, tags, merge requests)
    - when: never

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/
  policy: pull

variables:
  ARTIFACT_COMPRESSION_LEVEL: 'fastest'
  CACHE_COMPRESSION_LEVEL: 'fastest'
  NPM_CONFIG_CACHE: '/cache/npm'
  GIT_CLEAN_FLAGS: '-ffdx -e .npm/' # don't delete the .npm/ for each job

.normal-rules:
  rules:
    # when ever a pipeline is created run job, even for manual jobs only
    - when: on_success

# don't run for deployment only and scheduled pipelines, to avoid making unnecessary changes
# in production
.build-rules:
  rules:
    # don't run when triggered from other pipeline (deployment-only-pipeline)
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    # don't run when it's scheduled
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never

    # run normal jobs in any other case
    - when: on_success

# don't run for scheduled pipelines, to avoid making unnecessary changes in production
.manual-deployment-rules:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    # don't run when it's scheduled
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never

    - when: manual

set-vars:
  stage: .pre
  image: alpine:3.20
  environment: $CI_COMMIT_REF_NAME
  extends: .normal-rules
  # for manual jobs add allow_failure so the whole pipeline won't show up as "blocked"
  allow_failure: false
  before_script:
    - >
      apk add jq yq --no-cache
      --repository=https://dl-cdn.alpinelinux.org/alpine/edge/community
  script:
    - VERSION=$(jq '.version' package.json --raw-output)
    # if BUILD_VERSION is already set it's overwritten from another pipeline and this has to be used
    # extract version number from package.json, to make it available in the app
    # use unset"${BUILD_VERSION" to check if variable is set, will cover both cases null and "unset" / empty string
    - |
      if [ unset"${BUILD_VERSION}" == "unset" ]; then
        echo "BUILD_VERSION=${VERSION}" >> build.env
        echo "BUILD_VERSION was unset. Set to ${VERSION}."
        cat build.env
      else
        echo "BUILD_VERSION=${BUILD_VERSION}" >> build.env
        echo "BUILD_VERSION is already set to ${BUILD_VERSION}."
        cat build.env
      fi
    - echo "information environment ${CI_COMMIT_REF_NAME}"
    - |
      if [ "${CI_COMMIT_REF_NAME}" == "develop" ]; then
        echo "CI_COMMIT_REF_NAME=dev" >> build.env
      fi
    # move all variables from the CI / CD into the build variables
    - cat .env >> build.env
    # bash "source" command loads all the variables from the file
    - source build.env
    # set build variables for the package registry
    - echo "BUILD_NAME=${BUILD_VERSION}.${CI_COMMIT_REF_NAME}" >> build.env
    - echo "BUILD_ZIP_NAME=envidat-frontend-${BUILD_VERSION}.${CI_COMMIT_REF_NAME}.zip" >> build.env
    - echo "Matomo token ${MATOMO_TOKEN}."
    - echo "Matomo siteId ${MATOMO_SITEID}."
    - echo "content of build.env"
    - echo "information environment ${CI_COMMIT_REF_NAME}"
    - cat build.env
  artifacts:
    reports:
      dotenv: build.env
  retry:
    max: 2

install-node:
  stage: config
  image: node:lts
  environment: $CI_COMMIT_REF_NAME
  # overwrite the global caching to use push-pull policy
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
    # pull-push to be able to update the npm cache
    # don't cache the node_modules because the npm ci command always deletes it
    policy: pull-push
    when: on_success
  before_script:
    # disabled the funding check
    - npm config set fund false
  script:
    # always run the install
    - npm ci --no-audit --no-fund --loglevel=error --ignore-scripts
  # artifacts:
  #   name: 'node dependencies'
  #   # stores node_modules as an artifact to be used in the next jobs
  #   # caching isn't always guaranteed to work
  #   paths:
  #     - node_modules/**/*  # Include all contents, including hidden files and directories
  #   expire_in: 1 day
  retry:
    max: 2

modify-env:
  stage: config
  image: python:3.9-alpine3.17
  environment: $CI_COMMIT_REF_NAME
  extends: .normal-rules
  needs:
    - set-vars
  before_script:
    - if [ -z "$CI_COMMIT_REF_NAME" ]; then echo "CI_COMMIT_REF_NAME is empty!"; exit 1; fi
    - echo "CI_COMMIT_REF_NAME is set to $CI_COMMIT_REF_NAME"
    - pip install --upgrade pip
    - pip install python-dotenv==0.19.*
  script:
    - |
      python -c "import os
      import dotenv

      file = '.env.production'
      branch = os.getenv('CI_COMMIT_REF_NAME')

      key = 'VITE_DOMAIN'
      value = 'https://envidat04.wsl.ch'

      if branch == 'main' or branch == 'beta':
          value = 'https://www.envidat.ch'

      dotenv.set_key(file, key, value, quote_mode='never')

      key = 'VITE_API_ROOT'
      value = 'https://envidat04.wsl.ch'

      if branch == 'main' or branch == 'beta':
          value = 'https://www.envidat.ch'

      dotenv.set_key(file, key, value, quote_mode='never')

      # also set the canonical url with same value as the api root
      key = 'PUBLIC_ENV__VIKE_BASE_CANONICAL_URL'
      dotenv.set_key(file, key, value, quote_mode='never')

      key = 'VITE_MATOMO_TOKEN'
      token = os.getenv('MATOMO_TOKEN')
      dotenv.set_key(file, key, token, quote_mode='never')

      key = 'VITE_MATOMO_SITEID'
      token = os.getenv('MATOMO_SITEID')
      dotenv.set_key(file, key, token, quote_mode='never')

      key = 'VITE_CONFIG_URL'
      value = f'https://frontend-config.s3-zh.os.switch.ch/{branch}.json'
      dotenv.set_key(file, key, value, quote_mode='never')

      key = 'VITE_BUILD_SOURCEMAPS'
      value = 'false'

      if branch == 'staging' or branch == 'develop' or branch == 'dev':
          value = 'true'

      dotenv.set_key(file, key, value, quote_mode='never')

      key = 'VITE_GOOGLE_VERIFICATION_KEY'
      value = os.getenv('GOOGLE_VERIFICATION_KEY')
      dotenv.set_key(file, key, value, quote_mode='never')

      key = 'VITE_SEO_BASE'
      value = 'https://envidat04.wsl.ch/seo'

      if branch == 'main' or branch == 'beta':
          value = 'https://envidat.ch/seo'

      dotenv.set_key(file, key, value, quote_mode='never')

      "
    - echo "created content for .env.production:"
    - cat .env.production
  artifacts:
    name: 'environment variables'
    paths:
      - .env.production
  retry:
    max: 2

run-tests:
  stage: test
  image: node:lts
  environment: $CI_COMMIT_REF_NAME
  extends: .normal-rules
  needs:
    - install-node
    - modify-env
    - verify-node-audit
  script:
    - npm ci --prefer-offline --no-audit --no-fund --loglevel=error --ignore-scripts
    - npm run test
  retry:
    max: 2

build-storybook:
  stage: build
  image: node:lts
  environment: $CI_COMMIT_REF_NAME
  extends: .build-rules
  needs:
    # needs the artifact: config and environment variables
    - install-node
    - modify-env
    - verify-node-audit
  script:
    - npm ci --prefer-offline --no-audit --no-fund --loglevel=error --ignore-scripts
    - npm run build-storybook -- -o ./storybook --loglevel=error --disable-telemetry
  artifacts:
    name: 'storybook build'
    # keep the storybook for 7 days to be able to trigger the chromatic-deployment
    expire_in: 1 day
    # stores the storybook build as an artifact to be used in the next stages
    paths:
      - storybook
  retry:
    max: 2

build-app:
  stage: build
  image: node:lts
  environment: $CI_COMMIT_REF_NAME
  extends: .build-rules
  needs:
    # needs the artifact: config and environment variables
    - install-node
    - modify-env
    - verify-node-audit
  script:
    - npm ci --prefer-offline --no-audit --no-fund --loglevel=error --ignore-scripts
    - npm run build -- --logLevel error
  artifacts:
    name: 'frontend build '
    expire_in: 1 day
    # stores the built app code
    paths:
      - dist
  retry:
    max: 2

combine-builds:
  stage: build
  image: alpine:3.20
  environment: $CI_COMMIT_REF_NAME
  extends: .build-rules
  variables:
    GIT_STRATEGY: none
  needs:
    # needs the artifact: the build of the frontend app
    - job: build-app
      artifacts: true
    # needs the artifact: storybook
    - job: build-storybook
      artifacts: true
    # needs the artifact: seo pre-rendered static htmls
    - job: build-seo
      optional: true
      artifacts: true
  script:
    #- echo "Check for the artifacts in the filesystem"
    # - ls -l
    # - ls dist/ -l
    # - ls storybook/ -l
    # copy all files from the dist folder into root
    - cp -r dist/* ./
    # - ls -l
    # remove the dist folder recursively
    - rm -rf dist
    # - ls -la
  artifacts:
    name: 'frontend build $CI_COMMIT_REF_NAME'
    expire_in: 1 day
    # stores the combined built code
    paths:
      - ./
#tag-commit-sha:
#  extends: .normal-rules
#  stage: package
#  image: regclient/regctl:v0.3-alpine
#  variables:
#    GIT_STRATEGY: none
#  before_script:
#    - export REG_HOST=${INTERNAL_REG%/*}
#    - >
#      echo "{\"hosts\":{\"${REG_HOST}\":{\"tls\":\"enabled\",\"hostname\":
#      \"${REG_HOST}\",\"user\":\"${IMAGE_REGISTRY_USER}\",\"pass\":
#      \"${IMAGE_REGISTRY_PASS}\"}}}" >> /home/appuser/.regctl/config.json
#  script:
#      - >
#        regctl --verbosity debug image copy
#        "${IMAGE_NAME}" "${INTERNAL_REG}/envidat-frontend:${CI_COMMIT_SHA}"

